.btn {
  color: #f2f7eb;
  background: transparent;
  font-weight: 500;
  border: 1px solid #162e5c;
}
h2 {
  font-size: 1.2em;
}
body {
  font-family: "Changa", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
.english {
  font-family: "Manjari", sans-serif;
}
.row {
  margin: 0;
}
.slide {
  margin-right: -200px;
}
.navbar {
  background: #162e5c;
}
li a {
  border-bottom: 2px solid transparent;
  color: #e9e3e4 !important;
}
li a:hover {
  border-bottom: 2px solid #e9e3e4;
}
.home {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Cursor Styling */
}
.home a {
  border: 2px solid #f2f7eb;
  background: #83aa8b;
  color: #162e5c;
  font-weight: bold;
}
.home a:hover {
  color: #162e5c;
}
.home .typewriter {
  color: #e9e3e4;
}
.home .cursor::after {
  content: "";
  display: inline-block;
  margin-right: 3px;
  background-color: #f8f9fc;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.home h1.cursor::after {
  height: 30px;
  width: 5px;
}
.home p.cursor::after {
  height: 13px;
  width: 6px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.services-title {
  background: #f2f7eb;
  color: #162e5c;
}
.services-body {
  background: #f2f7eb;
  color: #162e5c;
}
.body-image {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.body-image h1 {
  font-size: 1.2em;
  color: #f8f9fc;
  background: rgba(5, 24, 56, 0.7);
}
.skills {
  background: #e9e3e4;
  color: #162e5c;
}
.skills ul {
  width: 40%;
  margin: 10px auto;
}
.skills ul li {
  text-align: center;
  background: #f2f7eb;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #83aa8b;
  border-left: 4px solid #83aa8b;
}
.skills .english {
  color: #162e5c;
}
.works-title {
  background: #f8f9fc;
  color: #162e5c;
}
.works-body {
  background: #f8f9fc;
  padding-bottom: 50px;
}
.works-body .overlay {
  position: relative;
  padding: 5px;
  border: 2px dashed #162e5c;
}
.works-body .overlay .works-image {
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.works-body .overlay .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.works-body .overlay:hover .works-image {
  opacity: 0.3;
}
.works-body .overlay:hover .middle {
  opacity: 1;
}
.works-body .overlay a {
  background-color: #f2f7eb;
  color: #162e5c;
  border: 1px solid #162e5c;
  padding: 16px 32px;
}
.about {
  background: #e9e3e4;
  color: #162e5c;
}
.about i {
  color: #162e5c;
}
.about img {
  border: 4px solid #f8f9fc;
  border-radius: 50%;
}
.contact-title {
  background: #f8f9fc;
  color: #162e5c;
}
.contact-body {
  background: #f8f9fc;
}
.contact-body .container {
  background: #f2f7eb;
  width: 60%;
}
.contact-body .container input,
.contact-body .container textarea {
  background: #f8f9fc;
  color: #83aa8b;
}
.contact-body .container ::placeholder {
  color: #83aa8b;
}
.contact-body .container .warning {
  color: #83aa8b;
  float: right;
}
.contact-body button {
  background: #83aa8b;
  border: 1px solid #162e5c;
  color: #162e5c;
}
.footer {
  background: #162e5c;
  color: #83aa8b;
}
.footer p {
  color: #83aa8b;
}
.footer span {
  background: #83aa8b;
  padding: 10px;
  color: #e9e3e4;
  border-radius: 20%;
}
.footer span:hover {
  background: #e9e3e4;
  color: #83aa8b;
  transform: scale(1.2, 1.2);
}
.footer .go-top {
  background: #83aa8b;
  color: #e9e3e4;
  padding: 5px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  margin-bottom: -100px;
  cursor: pointer;
}
.footer .go-top:hover {
  background: #83aa8b;
  color: #e9e3e4;
  transform: none;
}
